.song-form-container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  margin-left: 19%;
  height: auto;
}

@media (max-width: 1160px) {
  .song-form-container {
    margin-left: 14%;
  }
}

@media (max-width: 500px) {
  .song-form-container {
    margin-left: 8%;
  }
}

@media (max-width: 400px) {
  .song-form-container {
    margin-left: 2%;
  }
}
