#register-section {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: var(--bt-padding-xxl);
  padding-left: var(--bt-padding-xxl);
}

#form {
  width: 50%;
  margin-left: 30%;
  margin-top: var(--bt-margin-l);
}

.h1-register {
  display: flex;
  font-size: 2.2rem;
  color: var(--bt-color-3);
  width: 50%;
  margin-left: 30%;
  padding-bottom: var(--bt-padding-m);
}

.paragraph-register {
  display: flex;
  font-size: 1.5rem;
  color: var(--bt-color-1);
  width: 36%;
  margin-left: 30%;
}

.terms {
  display: flex;
  font-size: 1rem;
  color: var(--bt-color-1);
  width: 36%;
  margin-left: 30%;
  padding-top: var(--bt-padding-s);
}

@media (max-width: 1200px) {
  #register-section {
    padding-left: 0;
  }

  .h1-register {
    width: 50%;
  }

  .paragraph-register {
    width: 50%;
  }

  #form {
    width: 50%;
  }
}

@media (max-width: 677px) {
  #register-section {
    padding-top: 70px;
  }

  .h1-register,
  .paragraph-register,
  #form,
  .terms {
    width: 70%;
    margin-left: 20%;
  }
}

@media (max-width: 500px) {
  .h1-register,
  .paragraph-register {
    width: 70%;
  }

  #form {
    width: 80%;
  }
  .h1-register {
    font-size: 1.8rem;
  }

  .paragraph-register {
    font-size: 1.2rem;
  }

  #form {
    margin-top: var(--bt-margin-s);
  }
}

@media (max-width: 400px) {
  #register-section {
    padding-top: 60px;
  }
}

@media (max-width: 310px) {
  .h1-register {
    font-size: 1.6rem;
  }
}
