.uploaded-songs-ul {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: var(--bt-gap-xs);
}

.uploaded-songs-li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--bt-gap-s);
}

.uploaded-songs-li:hover {
  background-color: var(--bt-color-4);
  border-radius: 5px;
  padding: var(--bt-padding-xs);
}

@media (max-width: 350px) {
  .uploaded-songs-li:hover,
  .uploaded-songs-ul:hover {
    background-color: unset;
    border-radius: unset;
    padding: unset;
  }
}
