#user-section {
  background: linear-gradient(
    to bottom,
    #d8ebf4,
    #cde7ef,
    #cdecea,
    #c5e9fc,
    #eef8fd,
    #dff3fd
  );
  width: 100%;
  min-height: 100svh;
  padding-top: var(--bt-padding-xl);
  display: flex;
  flex-direction: column;
  gap: var(--bt-gap-m);
  padding-bottom: var(--bt-padding-l);
}

.user-section-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.h3-user {
  height: auto;
  margin: 0 auto;
  color: var(--bt-color-1);
  font-size: 3rem;
}

.user-page-avatar {
  display: flex;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  margin-top: var(--bt-margin-s);
}

.user-page-avatar .capital-letter {
  font-size: 4rem;
}

.logout-button {
  margin: 0 auto;
}

.success-message,
.success-delete {
  width: 40%;
  max-width: 400px;
  font-size: 4vw;
  padding: var(--bt-padding-m);
  background-color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
  .h3-user {
    font-size: 2.4rem;
  }
}

@media (max-width: 400px) {
  .h3-user {
    font-size: 2.2rem;
  }
}
