#song-section {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    #d8ebf4,
    #cde7ef,
    #cdecea,
    #c5e9fc,
    #eef8fd,
    #f9f7e2
  );
}
.selected-song {
  padding-top: var(--bt-padding-xxl);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
}

.youtube-div {
  width: 800px;
  margin-left: 20%;
}
.one-youtube-iframe {
  width: 100%;
  height: 350px;
}
.song-data {
  padding-left: 6%;
  padding-right: 4%;
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--bt-gap-m);
}

.one-song-title {
  width: 100%;
  color: var(--bt-color-1);
  font-size: 2rem;
}

.beatles-h3 {
  width: 100%;
  color: var(--bt-color-1);
  font-size: 2.4rem;
}

.heart-container {
  display: flex;
  align-items: end;
  gap: var(--bt-gap-xs);
}

.heart-text {
  color: var(--bt-color-3);
  font-size: 1rem;
}

.one-song-story {
  width: 100%;
  color: var(--bt-color-1);
  font-size: 1.1rem;
  line-height: 1.5;
  padding-top: var(--bt-padding-s);
}

@media (max-width: 1000px) {
  .youtube-div {
    width: 700px;
  }
  .one-youtube-iframe {
    height: 300px;
  }

  .song-data {
    height: 300px;
  }

  .one-song-title {
    font-size: 1.8rem;
  }

  .beatles-h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 866px) {
  .youtube-div {
    margin-left: 15%;
  }

  .youtube-div {
    width: 600px;
  }
  .one-youtube-iframe {
    height: 280px;
  }

  .song-data {
    height: 280px;
  }

  .one-song-title {
    font-size: 1.6rem;
  }

  .beatles-h3 {
    font-size: 2rem;
  }
}

@media (max-width: 737px) {
  .youtube-div {
    margin-left: 12%;
  }
  .selected-song {
    flex-direction: column;
  }

  .youtube-div {
    width: 80%;
  }
  .one-youtube-iframe {
    height: 300px;
  }

  .song-data {
    padding-left: 12%;
    padding-top: var(--bt-padding-m);
    height: auto;
    width: 100%;
    gap: var(--bt-gap-s);
  }

  .one-song-title {
    font-size: 1.6rem;
  }

  .beatles-h3 {
    font-size: 2rem;
  }
}

@media (max-width: 677px) {
  .selected-song {
    padding-top: 75px;
  }
}

@media (max-width: 550px) {
  .youtube-div {
    margin-left: 15%;
  }

  .song-data {
    padding-left: 15%;
  }

  .one-youtube-iframe {
    height: 250px;
  }

  .one-song-title {
    font-size: 1.4rem;
  }

  .beatles-h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .one-youtube-iframe {
    height: 220px;
  }

  .one-song-title {
    font-size: 1.2rem;
  }

  .beatles-h3 {
    font-size: 1.6rem;
  }
  .one-song-story {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .one-youtube-iframe {
    height: 200px;
  }
  .selected-song {
    padding-top: 65px;
  }
}

@media (max-width: 350px) {
  .youtube-div {
    width: 78%;
    padding-left: 2%;
  }

  .song-data {
    padding-left: 17%;
  }
}
